.generalNav {
  background-color: #38d39f !important;
}

.generalNav ul {
  margin-top: 16px;
  color: #38d39f;
}

.smalllogo {
  margin-top: 5px; 
  width: 15%;
}

.logo {
  font-size: 40px;
  background-color: #38d39f;
  color: white;
  margin-top: 5px;
  padding: 1px 10px;
  font-weight: bold;
  letter-spacing: -3px;
}

.navcolor a {
  color: white;
}

.usercolor {
 color: #168661  !important;
}

ul span {
  display: flex;
  list-style: none;
}