.maintop {
  color: #FFC107;
}

.mainstyle {
  top: 100px;
  position: absolute;
  width: calc(100% - 18rem);
  transition: all 0.3s;
  right: 0;
}

.btnstyle {
  width: 42px;
  height: 40px;
  position: absolute;
  margin-left: 184px;
  top: 18px;
}
