.card {
  background: #fff;
  /* background: lightcyan; */
  border-radius: 2px;
  /* box-shadow: 0 3px 6px #999, 0 3px 6px #999; */
  text-align: left;
  overflow: hidden;
  height: 300px;
  width: 350px;
  margin: 1rem;
  position: relative;
}

.card > .img-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
}
.card > .img-container img {
  border: 1px solid black;
  margin-top: 10px;
  width: 180px;
  height: 160px;
}

.prod1 {
  display: inline-block;
  border: 0;
  width: 200px;
  height: 220px;
  position: relative;
}

.avail {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  color: #168661;
  font-weight: bold;
}

.indays {
  position: absolute;
  margin-top: 10px;
  margin-left: 190px;
  font-weight: bold;
  float: right;
  color: #168661;
}

.desc {
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  color: #168661;
}

.cartBtn {
  position: absolute;
  width: 100%;
  bottom: 0;
}
