SVG {
margin-top: 20px;
margin-right: 10px;
}



.navstyle {
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  right: 0;
  width: 15rem;
  height: 100%;
  z-index: -1;
  min-height: 100vh;
  border-right: 1px solid #38d39f;
  font-size: 24px;
  color: #D35638;
}

.navitemstyle {
  padding: 10px;
}

.sidealign {
display: inline-block;
}
